body {
  font-family: "Raleway", sans-serif;
  background-color: black;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos {
  background-color: #0092ff;
}

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 10px;
  }
}
.navbar {
  padding: 0px;
  background-color: #00243f;
}
#Acerca-de-mi {
  color: #0092ff;
}

.Contacto h2 {
  color: #0092ff;
}
